## sources
## https://github.com/paulirish/dotfiles/blob/master/.exports

## TODO http://apple.stackexchange.com/questions/69223/how-to-replace-mac-os-x-utilities-with-gnu-core-utilities

# $PATH bin paths
export PATH=$HOME/dotfiles/bin:$PATH


# export PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
# export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"

# man path
# export MANPATH="/usr/local/opt/findutils/libexec/gnuman:$MANPATH"
# export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"

# fix for go
export GOPATH=$HOME/.go
export PATH="$GOPATH/bin:$PATH"

# Make vim the default editor.
export EDITOR='atom';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
# export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Move homebrew cask apps directly inside system-wide applications directory
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# docker-machine digitalocean driver
#export DIGITALOCEAN_IMAGE=ubuntu-14-04-x64
#export DIGITALOCEAN_REGION=sgp1
#export DIGITALOCEAN_PRIVATE_NETWORKING=true

# docker-machine google cloud engine driver
# https://docs.docker.com/machine/drivers/gce/
# export GOOGLE_MACHINE_TYPE=f1-micro
#export GOOGLE_MACHINE_TYPE=n1-standard-1
#export GOOGLE_PROJECT=rahul286-com
#export GOOGLE_ZONE=asia-east1-a
#export GOOGLE_DISK_TYPE=pd-ssd
# export GOOGLE_DISK_SIZE=50
# export GOOGLE_MACHINE_IMAGE=ubuntu-14-04
#export GOOGLE_MACHINE_IMAGE=https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1404-trusty-v20160114e

# docker-machine virtualbox driver
# https://docs.docker.com/machine/drivers/virtualbox/
export VIRTUALBOX_MEMORY_SIZE=512
export VIRTUALBOX_DISK_SIZE=20000
